/* CSS styles for Comments extension */
.comments-body {
	max-width: 530px;
	width: 100%;
}

.reply {
	margin-left: 10% !important;
	max-width: 460px;
	width: 90% !important ;
}

.c-item {
	position: relative;
	border-bottom: 1px solid #dcdcdc;
/* this works for Monaco, but not for Monobook.
Besides, ny.css sets it back to 10px anyway, so this way everyone can be happy.
	padding: 0px 0px 10px 0px;*/
	padding: 0px 0px 35px 0px;
	margin: 0px 0px 15px 0px;
}

.c-avatar {
	position: absolute;
	top: 0px;
	left: 0px;
}

.c-avatar img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

.c-container {
	position: relative;
	top: 0px;
	top: 0px;
	margin: 0px 0px 0px 70px;
}

.c-user {
	font-weight: bold;
	position: relative;
	margin: 0px 0px 6px 0px;
}

.c-user a {
	font-size: 14px;
	text-decoration: none;
}

.c-time {
	font-size: 10px;
	color: #888;
	line-height: 11px !important;
	font-weight: normal !important;
}

.c-user-level {
	color: #666;
	font-size: 11px;
	margin: 0px 5px 0px 5px;
}

.c-comment {
	overflow: auto;
}

.c-ignored {
	color: #666;
	font-size: 11px;
	padding: 5px 0px 10px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px solid #dcdcdc;
}

.c-ignored-links a {
}

.f-message {
	max-width: 460px;
	width: 90%;
}

.r-message {
	max-width: 360px;
	width: 60%;
}

.c-score {
	position: absolute;
	top: -2px;
	right: 0px;
	font-size: 11px;
	padding-top: 6px;
	font-weight: bold;
	z-index: 4;
}

.c-score-title {
	margin: 0px 10px 0px 0px;
}

.c-actions {
	float: right;
	font-size: 10px;
	margin: 10px 0px 0px 0px;
}

.c-delete a {
	color: red !important;
}

.c-score img {
	vertical-align: middle;
	margin: -5px 0px 0px 2px
}

.c-form-title {
	color: #333;
	font-weight: bold;
	font-size: 17px;
	margin: 0px 0px 5px 0px;
}

.c-form-message {
	font-size: 11px;
	width: 400px;
	line-height: 13px;
	color: #666;
	padding: 5px 0px 10px 0px;
}

textarea#comment {
	max-width: 530px;
	width: 100%;
}

.c-form-button {
	padding: 10px 0px 0px;
}

.c-order {
	padding: 5px 0px;
}

.c-spy {
	float: left;
	font-size: 10px;
	margin: 0px 0px 0px 10px;
}

.c-spy p{
	margin-bottom: 0px;
}

.c-order-select {
	float: left;
}

/* Pager */
ul.c-pager {
	clear: both;
	margin: 0px, 0px, 5px, 0px;

}
.cod-comment{
	flex: initial;
	background: #F8F8F8 none repeat scroll 0% 0%;
	padding: 20px;
	color: #999;
	word-wrap: break-word;
	white-space: pre-wrap;
	margin: 0px 5px 0px 0px;
}

li.c-pager-item {
	background-image: none;
	display: inline;
	font-size: 14px;
	list-style-type: none;
	padding: 0.5em;
}
#content .c-order-select p {
    display:none;
}
.ns-0 #wiki-outer-body .wiki-body-section .cod a:not(.image) {
	padding: 0px 5px;
	color: #666;
}
.c-sep {
	margin-bottom: 10px;
}
