/* CSS styles for Comments extension */
ul.cod-ul {
	list-style: none;
}
.comments-body {
	width: 100%;
    position: relative;
    margin-top: 20px;
    /*overflow: hidden;*/
    clear: both;
}

#comment-vote-link i{
    opacity: .5;
}
#comment-vote-link i.active{
    opacity: 1;
}
.reply {
	margin-left: 10% !important;
	width: 90% !important ;
}

.c-item {
	border-bottom: 1px solid #dcdcdc;
/* this works for Monaco, but not for Monobook.
Besides, ny.css sets it back to 10px anyway, so this way everyone can be happy.
	padding: 0px 0px 10px 0px;*/
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

.c-avatar {
	position: absolute;
	top: inherit;
}
.c-avatar img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

.c-container {
	position: relative;
	top: 0px;
	top: 0px;
	margin: 0px 0px 0px 70px;
}

.c-user {
	font-weight: bold;
	position: relative;
	margin: 0px 0px 6px 0px;
}

.c-user a {
	font-size: 14px;
	text-decoration: none;
}

.c-time {
	font-size: 10px;
	color: #888;
	line-height: 11px !important;
	font-weight: normal !important;
    display: inline-block;
}

.c-user-level {
	color: #666;
	font-size: 11px;
	margin: 0px 5px 0px 5px;
}

.c-comment {
	overflow: auto;
}

.c-ignored {
	color: #666;
	font-size: 11px;
	padding: 5px 0px 10px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px solid #dcdcdc;
}

.c-ignored-links a {
}

.f-message {
	width: 90%;
}

.r-message {
	width: 100%;
}

.c-score {
	position: absolute;
	top: -2px;
	right: 0px;
	font-size: 11px;
	padding-top: 6px;
	font-weight: bold;
	z-index: 4;
}

.c-score-title {
	margin: 0px 10px 0px 0px;
}

.c-actions {
	float: right;
	font-size: 10px;
	margin: 10px 0px 0px 0px;
}

.c-delete a {
	color: red !important;
}

.c-score img {
	vertical-align: middle;
	margin: -5px 0px 0px 2px
}

.c-form-title {
	font-size: 30px;
    text-align: center;
    padding: 0;
}

.c-form-message {
	font-size: 11px;
	width: 80%;
	line-height: 13px;
	color: #666;
	padding: 5px 0px 10px 0px;
}
#comment{
    resize: none;
    height: 40px;
    border: 1px solid #bbb;
}
#comment.focus{
    height: 120px;
}
.site-button{
    margin: 10px 0;
    padding: 5px 10px;
}

.c-order {
	padding: 5px 0px;
}

.c-spy {
	float: left;
	font-size: 10px;
	margin: 0px 0px 0px 10px;
}

.c-spy p{
	margin-bottom: 0px;
}
.c-pager-item span, .c-pager-item a {
    font-size: 14px;
}

.c-order-select {
	float: left;
}

/* Pager */
.c-pager-wrapper{
    text-align: center;
}
ul.c-pager {
	clear: both;
	margin: 0px 0px 5px 0px;

}
.cod-comment{
	flex: initial;
	background: #F8F8F8 none repeat scroll 0% 0%;
	padding: 20px;
	color: #999;
	word-wrap: break-word;
	white-space: pre-wrap;
    word-break: break-all;
	margin: 0px 5px 0px 0px;
	float: left;
}

li.c-pager-item {
	background-image: none;
	display: inline-block;
	font-size: 0;
	list-style-type: none;
	padding: 0.5em;
}
#content .c-order-select p {
    display:none;
}
.ns-0 #wiki-outer-body .wiki-body-section .cod a:not(.image) {
	padding: 0 5px;
	color: #666;
}
.c-sep {
	margin-bottom: 10px;
}
@media  screen and (max-width: 1200px) {

    .c-form-title{
        width: 100%;
        text-align: left;
    }
    #comment{
        width: 100%;
    }
}
li.cod{
	clear:both;
	margin-top: 5px;
}
#hotcomments .c-item:last-child{
	border-bottom: 0;
	margin-bottom: 0;
}
#hotcomments fieldset{
	border: none;
  	border-top: 1px solid silver;
}
#hotcomments legend{
	width: 100%;
	padding: 0;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	border: none;
}

.comment-list{
    position: relative;
    z-index: 100;
}
.custom-face{
    position: absolute;
    max-width: 300px;
    background: #fff;
    padding: 8px 10px;
    top: 0;
    right: 156px;
    text-align: center;
    border: 1px #dfdfdf solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    display:none;
}
.custom-face a {
    color: #09c!important;
}

.c-item-del{
	font-size: 14px;
	background-color: rgba(202, 202, 202, 0.33);
	/* color: #0E1112; */
	height: 50px;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
}
.lead.emoji-picker-container{
	padding: 0px;
}