<div id="comment-{{commentID}}" class="c-item {{containerClass}}">
	{{#deleted}}
		{{{deletedHtml}}}
	{{/deleted}}
	{{^deleted}}
	<div class="c-avatar">{{{avatarImg}}}
	</div>
	<div class="c-container">
		<div class="c-user">{{{userLink}}}
		<span class="c-user-level">{{{commentPosterLevel}}}</span>
		<div class="c-score">
		{{zan}}
		{{#login}}
			{{#isself}}
				</span>你</div>
			{{/isself}}
			{{^isself}}
				<span id="CommentBtn{{commentID}}">
				<a id="comment-vote-link" data-comment-id="{{commentID}}" data-vote-type="1" data-voting="" href="javascript:void(0);"><i class="icon-like"></i></a>
				<a id="comment-vote-link" data-comment-id="{{commentID}}" data-vote-type="-1" data-voting="" href="javascript:void(0);"><i class="icon-dislike"></i></a>
				</span></div>
			{{/isself}}
		{{/login}}
		{{^login}}
			</span></div>
		{{/login}}
		</div>
		<div class="c-comment f-message">
		{{commentContent}}
		</div>
		<div class="c-actions">
		<div class="c-time">{{timeago}}</div>
		{{actions}}
		</div>
	</div>
	{{/deleted}}
	<div class="cleared"></div>
</div>